extends layout
block content
  table.table
    thead
      tr
        th Row
        th Bill
        th Payment Date
        th Payment Status
    tbody
      tr.active
        td 1
        td Credit Card
        td 04/07/2014
        td Call in to confirm
      tr.success
        td 2
        td Water
        td 01/07/2014
        td Paid
      tr.info
        td 3
        td Internet
        td 05/07/2014
        td Change plan
      tr.warning
        td 4
        td Electricity
        td 03/07/2014
        td Pending
      tr.danger
        td 5
        td Telephone
        td 06/07/2014
        td Due
