extends layout

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        
        form(method="post" action="/agent/update")


          .form-group
            // Full Name
            label.control-label(for='full_name_id') שם
            input#full_name_id.form-control(type='text', name='name', placeholder='Name',value = attraction.name)

          .form-group
            // City
            label.control-label(for='city_id') סוג
            select#state_id.form-control(name = 'type',value = attraction.type)
              option(value='אטרקציות ימיות') אטרקציות ימיות
              option(value='גני חיות / פינות ליטוף')  גני חיות / פינות ליטוף
              option(value='פארק משחקים')  פארק משחקים
              option(value='ספורט ימי/ צלילה / שיט') ספורט ימי/ צלילה / שיט
              option(value='אטרקציות בטבע') אטרקציות בטבע
              option(value='השכרת אופניים או אופניים חשמליים') השכרת אופניים או אופניים חשמליים
              option(value='פארק דיג') פארק דיג
              option(value='סדנאות / הרצאות') סדנאות / הרצאות
              option(value='טרקטרונים / קטרינג / רייזרים') טרקטרונים / קטרינג / רייזרים
              option(value='מרכז מבקרים') מרכז מבקרים
              option(value='צפרות') צפרות
              option(value='תיירות חקלאית') תיירות חקלאית
              option(value='אטרקציות לקבוצות ואירועים') אטרקציות לקבוצות ואירועים
              option(value='סיורים') סיורים

          .form-group
            // City
            label.control-label(for='textarea') פרטים על האטרקציה
            textarea.form-control(id="textarea" name='details' data-value=attraction.details)

          .form-group
            // City
            label.control-label(for='city_id') עיר
            input#city_id.form-control(type='text', name='city', placeholder='city', value = attraction.city)

          .form-group
            // State Button
            label.control-label(for='area_id') איזור
            select#state_id.form-control(name = 'area', value = attraction.area)
              option(value='חרמון,גולן ואצבע הגליל') חרמון,גולן ואצבע הגליל
              option(value='גליל עליון וגליל מערבי') גליל עליון וגליל מערבי
              option(value='גליל תחתון, עמקים וגלבוע') גליל תחתון, עמקים וגלבוע
              option(value='כרמל, רמות מנשה והשרון') כרמל, רמות מנשה והשרון
              option(value='מישור החוף וגוש דן') מישור החוף וגוש דן
              option(value='שומרון') שומרון
              option(value='ירושלים') ירושלים
              option(value='ים המלח ומדבר יהודה') ים המלח ומדבר יהודה
              option(value='צפון הנגב') צפון הנגב
              option(value='מרכז הנגב והמכתשים') מרכז הנגב והמכתשים
              option(value='דרום הנגב והרי אילת') דרום הנגב והרי אילת

          .form-group
            // Full Name
            label.control-label(for='full_name_id') משך זמן
            input#full_name_id.form-control(type='number', name='time', placeholder='Time Atraction', value = attraction.time)

          .form-group
            label.control-label קבוצה
            br
            select#groups_multiselect(multiple="multiple", name='groups', value = attraction.groups)
              option(value='אתגרי') אתגרי
              option(value='סיורים')  סיורים
              option(value='פתוח בשבת')  פתוח בשבת
              option(value='לילדים') לילדים
              option(value='רומנטי') רומנטי
              option(value='חינם') חינם
              option(value='כניסה למים') כניסה למים
              option(value='אנשים עם מוגבליות') אנשים עם מוגבליות
              option(value='מתאים לקבוצה') מתאים לקבוצה

          .form-group
            label.control-label מחיר
            input#price_id.form-control(type='number', name='price', value = attraction.price)

          .form-group
            label.control-label טלפון
            input#price_id.form-control(type='number', name='phone', value = attraction.phone)

          .form-group
            label.custom-file
            input#file.custom-file-input(type='file', name="images" multiple, value = attraction.images)
            span.custom-file-control

          input(type="hidden" value="#{company}" name="company")
          input(type="hidden" value=attraction._id name="attraction_id")


          br
          .form-group
            // Submit Button
            button.btn.btn-primary(type='submit') עדכון

  script.
    var textareaValue = document.getElementById("textarea").getAttribute('data-value');
    console.log(textareaValue)
    document.getElementById("textarea").value = textareaValue


