extends layout

block content
  .row
    .col-md-6.col-md-offset-3
      h1 הרשמה
      hr

      if(errors)
        for error in errors
          .alert.alert-danger= error.msg

      form(method="post" action="/auth/register") 
        .form-group
          label שם
          input.form-control(type="text" name="name")
        
        .form-group
          label אימייל
          input.form-control(type="Email" name="email")

        .form-group
          label סיסמה
          input.form-control(type="Password" name="password")

        .form-group
          label אתר
          input.form-control(type="text" name="website")

        .form-group
          label טלפון
          input.form-control(type="number" name="telephone")
        
        .form-group
          label סוג אטרקציה
          input.form-control(type="text" name="type")


        input(type="submit" value="register" class="btn btn-primary")
