.icon-svg{
  width: 40%;
}

.info{
  margin-top: 50px;
  margin-bottom: 30px;
}

.name-center{
  text-align: center !important;
}

.collapse-item{
  margin-left: 10px;
}

.clear-fix{
  clear: both;
}

.footer{
  max-height: 100px !important;
}